name: Release

'on':
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
env:
  FORCE_COLOR: 1
  NPM_CONFIG_COLOR: always
  HUSKY: 0

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: corepack enable npm
      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm install -g corepack@latest
      - run: corepack npm clean-install
      - run: corepack npm audit signatures
      - name: semantic-release
        run: npx semantic-release@25.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
